body {
    margin: 0;
    background: #fff;
    font-size: 1em;
    font-family: Arial, STXihei, STHeiti;
}

a {
    text-decoration: none;
    color: #fff;
}

/* body所有子元素最大和最小宽度 */
body > div {
    margin: auto;
    min-width: 300px;
    max-width: 550px;
}

.navBar {
    width: 100%;
    height: 46.2px;
    background: #fff;
    overflow: hidden;
}
/* 导航栏 */
.navBar img:first-child {
    width: 151.8px;
    float: left;
    margin-top: 11px;
    margin-left: 21.9px;
}

.navBar img:nth-child(2) {
    width: 24px;
    float: right;
    margin-top: 15px;
    margin-right: 21.9px;
    cursor: pointer;
}
/* 默认隐藏掉导航下拉列表,设置元素高度为0 */
.navList {
    width: 100%;
    color: #fff;
    font-size: 12pt;
    text-align: center;
    letter-spacing: 5px;
    background: #66BA9A;
    overflow: hidden;
    position: absolute;
    z-index: 100;
    transition: max-height 0.6s, opacity 0.6s;
    -webkit-transition: max-height 0.6s, opacity 0.6s;
    -moz-transition: max-height 0.6s, opacity 0.6s;
}

.showList {
    max-height: 300px;
    opacity: 1;
}

.hideList {
    max-height: 0;
    opacity: 0.9;
}

.navList ul {
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.navList ul li {
    list-style: none;
    width: 85%;
    margin: auto;
    height: 41px;
    line-height: 46.3px;
    opacity: 0.9;
    border-bottom: 1px #fff solid;
}

.navList ul li a {
    color: #fff;
}

.header {
    position: relative;
}

/*个人主页和课程列表切换栏*/
.personAndCourseBar {
    height: 36px;
    background: #66BA9A;
    border-radius: 3px;
    padding: 0;
    width: 100%;
    position: relative;
}

.personAndCourseBarFixed {
    height: 36px;
    background: #66BA9A;
    border-radius: 3px;
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    top: 0px;
    min-width: 300px;
    max-width: 550px;
}

#personAndCourseBar a span {
    position: relative;
    margin-top: 0px;
}

#personAndCourseBar a span img {
    width: 13.1px;
    position: absolute;
    top: 0px;
    left: -19px;
}

.personBtn, .courseBtn {
    width: 49.5%;
    font-size: 13pt;
    line-height: 36px;
    float: left;
    text-align: center;
    letter-spacing: 4px;
    color: #fff;
    cursor: pointer;
}

#dividerLine {
    background: #fff;
    width: 1px;
    height: 23.6px;
    margin-top: 5px;
    float: left;
}

/* 反馈表单 */
.feedBackForm {
    width: 100%;
    margin-top: 44.4px;
    text-align: center;
}

/* 文本域 */
textarea {
    background-color: #fff;
    border: 1px solid rgba(33, 29, 22, 0.3);
    border-radius: 3px;
    color: rgba(192, 192, 192, 1);
    font-size: 12pt;
    height: 85px;
    padding: 7px 8px;
    width:87%;
    transition: all 1s ease-in-out;
}

textarea:hover {
    background-color: rgba(110, 110, 110, 0.1);
    border: 1px solid rgba(33, 29, 22, 0.7);
}

textarea:focus {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(33, 29, 22, 0.9);
}

/* 用来使提交按钮和文本域对齐 */
.feedBackForm div {
    display: inline-block;
    width: 87%;

}

/* 提交按钮 */
.feedBackForm input {
    text-align: center;
    width: 70px;
    height: 20px;
    border: 1px solid rgba(20, 119, 112, 0.7);
    border-radius: 5px;
    background-color: #fff;
    color: rgba(20, 119, 112, 1);
    font-size: 11.25pt;
    float: right;
    margin-top: 11px;
    margin-right: -8px;
    cursor: pointer;
}

/* 提示信息 */
.noticeMsg {
    clear: both;
    width: 92%;
    padding: 0px;
    margin: auto;
    margin-top: 36px;
}

.firstRow span, .secondRow span {
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #1B94D3;
    float: left;
    margin-top: 4px;
}

.firstRow div, .secondRow div {
    margin-left: 20px;
    color: #B3B3B4;
    font-size: 8pt;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 150%;
    text-align:justify;
    text-justify:inter-ideograph;
}

.firstRow div strong, .secondRow div strong {
    color: #1B94D3;
    font-weight: 900;
    letter-spacing: 2px;
}

.secondRow {
    margin-top: 15px;
}

/* 请登录弹窗 */
.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    text-align: center;
}

.md-content {
    color: #fff;
    background: #031713;
    opacity: 0.9;
    position: relative;
    border-radius: 5px;
    margin: 0 auto;
}

.md-content > div {
    padding: 15px 40px 30px;
    margin: 0;
    font-weight: 300;
    font-size: 1.15em;
    overflow: hidden;
    padding-bottom: 20px;
}

.md-content > div p {
    margin: 0;
    padding: 10px 0;
    margin-bottom: 20px;
    text-align: center;
}

div.md-close {
    float: left;
    margin: auto;
    width: 50%;
}

#md-confirm {
    float: left;
    margin-left: 20px;
}

#modalLogin button, #modalEmptyField button, #aboutDialog button, #thankDialog button {
    width: 60px;
    height: 30px;
    border-radius: 3px;
    border: 0px;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 10pt;
    cursor: pointer;
}

#modalLogin button:hover, #modalEmptyField button:hover, #aboutDialog button:hover, #thankDialog button:hover{
    background-color: rgba(255, 255, 255, 0.4);
}

#modalEmptyField, #aboutDialog, #thankDialog {
    text-align: center;
}

#aboutDialog, #thankDialog {
    text-align:justify;
    text-justify:inter-ideograph;
    font-size: 11pt;
}

#aboutDialog div.md-close, #thankDialog div.md-close {
    width: 100%;
    text-align: center;
}

#modalEmptyField .md-close, #aboutDialog .md-close, #thankDialog .md-close{
    float: none;
    margin: auto;
}

#modalEmptyField button, #aboutDialog button {
    float: none;
}

.md-hide {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0);
    -ms-transform: translateX(-50%) translateY(-50%) scale(0);
    transform: translateX(-50%) translateY(-50%) scale(0);
    opacity: 0;
    -webkit-transition: all 0.3s, ;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.md-show {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    -moz-transform: translateX(-50%) translateY(-50%) scale(1);
    -ms-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1);
    opacity: 1;
}