form {
  border-radius:6px;
  padding:15px;
  padding-top:30px;
  width:300px;
  margin:50px auto;
  background-color: rgba(255, 255, 255, 0.5);
}

h1 {
  text-align:center;
  font-size:1.6em;
  font-weight:700;
  color: rgba(0, 0, 0, 0.6);
  margin-bottom:24px;
}

span {
  font-weight:200;
}

input {
  width:85%;
  background:#f5f5f5;
  border:0;
  padding:20px;
  border-radius:6px;
  margin: auto;
  margin-bottom:10px;
  border:1px solid #eee;
}

.btn {
  position:relative;
  width:100%;
  padding:10px;
  border-radius:6px;
  border:0;
  background: rgba(0, 0, 0, 0.7);
  font-size:1.5em;
  color:#fff;
  cursor: pointer;
}

.btn:hover {
  background: rgba(0, 0, 0, 1);
}

.btn:active {
  top:3px;
  box-shadow:none;
}
